<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"  routerLink="/">Nagarro</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="presenter">Presenter</a></li>
      <li><a routerLink="attendee">Attendee</a></li>
      <li><a routerLink="settings">Settings</a></li>
    </ul>
  </div>
</nav>
<!-- <app-dashboard></app-dashboard> -->
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
